

body {
  font-family: 'Slabo 27px', serif;
}
/* p {
  opacity: 0.02;
} */

#wrapper {
  width: 50%;
  margin: auto;
  /* background: blue; */
  /* height: 100px; */
}

#headline {
  margin: 15% 0 15% 4%
}

h2 {
  pointer-events: painted;
}

.visible {
  opacity: 0.8;
}

.invisible {
  opacity: 0.2;
}

#about .invisible {
  background: yellow;
}

.images {
  margin-top: -150px;
}

.pack {
  margin-top: 200px;
}

img {
  margin-bottom: 50px;
}
